<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/login.css}" rel="stylesheet"/> 
    <title>Login</title>
</head>
<body>
    <p th:if="${loginError}" th:text="${loginError}" class="error"></p>
    <div class="telaInicio">

        <div class="titulo">
            <h1>Cadastrar</h1>
            <img th:src="@{/img/doge.gif}" alt="">
            <h1>Usuários</h1>
        </div>

        <form th:action="@{/login}" method="post" th:object="${login}">
            <input type="text" id="txtUser" placeholder="Usuário" th:field="*{username}">
            <input type="password" id="txtPwd" placeholder="Senha" th:field="*{password}">
            <input type="submit" value="Entrar" id="btnEntrar">
        </form>
        
        <div class="opcoes">
            <a href="/">Voltar</a>
            <p>não possui login? cadastre-se aqui</p>
            <a href="/cadastrar" id="btnSecundario">Cadastrar</a>
        </div>
       
    </div>
</body>
</html>
